
<div>
  <label>英雄名:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    添加英雄
  </button>
</div>
<ul class="heroes">
    <li *ngFor="let hero of heroes" 
    [class.selected]="hero === selectedHero"
    [@flyInOut]
    (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
        <button class="delete"
            (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
</ul>
<div *ngIf="selectedHero">
<h2>
    {{selectedHero.name | uppercase}} 是我的英雄
</h2>
<button (click)="gotoDetail()">察看英雄详情</button>
</div>